.main-container {
    @include flex;
    @include flex-column;

    &__points-container {
        @include flex;

        width: 100%;
        margin-top: 24px;
        margin-bottom: 40px;
    }

    &__shop-container {
        margin-bottom: 200px;
    }

    &__modal {
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    &__modal-button {
        width: 200px;
        align-self: center;
    }
}
