$base-blue: #2a81dd;
$base-black: #1c1819;
$base-white: #fff;
$base-green: #64bd38;
$base-grey: #888b94;
$base-sky: #f0fafd;
$radio-blue: #00458a;
$radio-beige: #efe8d8;
$radio-grey: #d4d4da;
$font-weight-600: 600;
$font-size-14: 14px;
$font-size-16: 16px;
$line-height-24: 24px;
